_minted*
*.log
*.pdf
*.synctex.gz
*.aux
*.toc
*.nav
*.out
*.snm
*.bib
*.bbl
*.bcf
*.blg
*.lof
*.xml
_build
.merlin
compiler/samples/**/*.wast
compiler/samples/**/*.wasm
compiler/samples/*.wast
compiler/samples/*.wasm
*.cmi
*.cmo
*.cmx
*.byte
*.exe
*.o
*.bench.ml
*.bench.js
